<a routerLink="/profile" routerLinkActive="activate" >Dashboard</a>&nbsp;
<a routerLink="/home" routerLinkActive="activate" >Home</a>&nbsp;
<a routerLink="/login" routerLinkActive="activate" >Login</a>&nbsp;
<a routerLink="/aboutus" routerLinkActive="activate" >About Us</a>


<select #select (change)="onChange()">
  <option value ="1">one</option>
  <option value ="2">two</option>
  <option value ="3">three</option>
</select>


<select [ngModel]="selectedObject" >
        <option *ngFor="let o of test" [value]="o" >{{o}}</option>
      </select>